<div class="main-wrapper login-body">
  <div class="container-fluid px-0">
    <div class="row">

      <div class="col-lg-6 login-wrap">
        <div class="login-sec">
          <div class="log-img">
            <img class="img-fluid" src="../../../assets/img/login-02.png" alt="Logo">
          </div>
        </div>
      </div>


      <div class="col-lg-6 login-wrap-bg">
        <div class="login-wrapper">
          <div class="loginbox">
            <div class="login-right">
              <div class="login-right-wrap">
                <div class="account-logo" >
                  <a ><img src="../../../assets/img/atomslogo.png" width="80" height="80" alt=""></a>
                  <div class="morning-user">
                    <h2>bienvenue, <span>Connectez-Vous</span></h2>
                   </div>
                </div>
                <h2>S'authentifier</h2>

                <div *ngIf="badCredentials" class="alert alert-danger" role="alert">
                  Nom d'utilisateur ou mot de passe incorrect.
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                  <div class="form-group">
                    <label>Nom d'utilisateur <span class="login-danger">*</span></label>
                    <input class="form-control" formControlName="username" type="text">
                    <div *ngIf="loginForm.get('username')?.['touched'] && loginForm.get('username')?.['invalid']">
                       <div class="invalid-tooltip" *ngIf="loginForm.get('username')?.errors?.['required']">
                        Nom d'utilisateur est obligatire
                      </div>
                     </div>
                  </div>
                  <div class="form-group">
                    <label>Password <span class="login-danger">*</span></label>
                    <input class="form-control pass-input"  formControlName="password"type="password">
                    <span class="profile-views feather-eye-off toggle-password"></span>
                    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.['invalid']">
                       <div class="invalid-tooltip"*ngIf="loginForm.get('password')?.errors?.['required']">
                        Mot de passe obligatoire
                      </div>

                     </div>
                  </div>

                  <div class="forgotpass">

                    <a routerLink="/resetpassword">Mot de passe oublié ?</a>
                  </div>
                  <div class="form-group login-btn">
                    <button class="btn btn-primary btn-block" [disabled]="loginForm.invalid" type="submit">S'authentifier</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="../../../assets/js/feather.min.js"></script>

