<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Dashboard </a></li>
            <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
            <li class="breadcrumb-item active">Passez une demande d'analyse</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">

            <form [formGroup]="patientForm">
              <div class="row">
                <div class="col-12">
                  <div class="form-heading">
                    <h4>Patinets Details(Veuillez saisir l'index de patient seulement)</h4>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Index de patient <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" placeholder="" formControlName="indexpatient">
                     <button class="btn" (click)="searchPatient()"><img src="assets/img/icons/search-normal.svg" alt=""></button>

                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Nom <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" placeholder="" formControlName="nom">
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Prénom <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" placeholder="" formControlName="prenom">
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>GSM <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" placeholder="" formControlName="gsm">
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Poid <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" placeholder="" formControlName="poid">
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Taille <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" placeholder="" formControlName="taille">
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6">
                  <div class="form-group local-forms cal-icon">
                    <label>Date de naissance <span class="login-danger">*</span></label>
                    <input class="form-control datetimepicker" type="text" placeholder="" formControlName="datenaiss">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
