<div class="page-wrapper">
  <div class="content">

    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Dashboard </a></li>
            <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
            <li class="breadcrumb-item active">Users</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12">
        <div class="card-box">
          <div class="page-table-header mb-2">
            <div class="row align-items-center">
              <div class="col">
                <div class="doctor-table-blk">
                  <h3>La liste Users </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table   id="Userstable" class="table border-0 custom-table comman-table datatable mb-0">
              <thead>

              </thead>
              <tbody >

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
