<div class="main-wrapper login-body">
  <div class="container-fluid px-0">
    <div class="row">

      <div class="col-lg-6 login-wrap">
        <div class="login-sec">
          <div class="log-img">
            <img class="img-fluid" src="assets/img/login-02.png" alt="Logo">
          </div>
        </div>
      </div>


      <div class="col-lg-6 login-wrap-bg">
        <div class="login-wrapper">
          <div class="loginbox">
            <div class="login-right">
              <div class="login-right-wrap">
                <div class="account-logo">
                  <a  routerLink="login"><img src="assets/img/atomslogo.png" width="80" height="80" alt=""></a>
                </div>
                <h2>Réinitialiser votre mot de passe</h2>

                <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm.value)">
                  <div class="form-group">
                    <label>Password <span class="login-danger">*</span></label>
                    <input class="form-control" formControlName="username" type="text">
                    <div *ngIf="resetForm.get('password1')?.['touched'] && resetForm.get('password1')?.['invalid']">
                      <div class="invalid-tooltip" *ngIf="resetForm.get('password1')?.errors?.['required']">
                        Password est obligatire
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Confirm Password <span class="login-danger">*</span></label>
                    <input class="form-control" formControlName="password2" type="text">
                    <div *ngIf="resetForm.get('password2')?.['touched'] && resetForm.get('password2')?.['invalid']">
                      <div class="invalid-tooltip" *ngIf="resetForm.get('password2')?.errors?.['required']">
                        Confirm Password est obligatire
                      </div>
                    </div>
                  </div>
                  <div class="form-group login-btn">
                    <button class="btn btn-primary btn-block" [disabled]="resetForm.invalid"  type="submit">Réinitialiser le mot de passe</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
