<div class="page-wrapper">
  <div class="content">

    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Dashboard </a></li>
            <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
            <li class="breadcrumb-item active">Ajouter formation</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card-box">
          <div class="table-responsive">

            <h2>List of Trainings</h2>
            <table>
              <thead>
              <tr>
                <th>id</th>
                <th>Description</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Subject</th>
                <th>Tentative</th>
                <th>MinScore</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let training of trainings">
                <td>{{ training.id_training }}</td>
                <td>{{ training.descTraining }}</td>
                <td>{{ training.startDate }}</td>
                <td>{{ training.endDate }}</td>
                <td>{{ training.subject}}</td>
                <td>{{ training.tentative }}</td>
                <td>{{ training.minscore }}</td>



              </tr>
              </tbody>
            </table>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
