<div class="page-wrapper">
  <div class="content">

    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Dashboard </a></li>
            <li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
            <li class="breadcrumb-item active">Prise en charge des paramètres biochimiques</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card-box">
          <h4 class="card-title">Saisissez le type de prélèvement à ajouter</h4>
          <form action="#">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Description de prélèvement:</label>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="text-end">
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-box">
          <div class="page-table-header mb-2">
            <div class="row align-items-center">
              <div class="col">
                <div class="doctor-table-blk">
                  <h3>La liste des types de prélèvement </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table   id="samplingtable" class="table border-0 custom-table comman-table datatable mb-0">
              <thead>

              </thead>
              <tbody >

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
